.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  width: 100%;
}
.navBar {
  width: 100%;
}
.primerContenido {
  width: 50%;
}
.segundoContenido {
  width: 50%;
}
.footer {
  width: 100%;
}
