body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.cartilla {
  width: 40%;
}

.redes_sociales li {
  width: 25%;
}

.menuNav__elemento {
  width: 20%;
}

.container__servicio--texto1 img,
.container__servicio--texto2 img {
  width: 30%;
}

.container__servicio--texto1 div,
.container__servicio--texto2 div {
  width: 45%;
}
